In [38]:
import pandas as pd
import numpy as np

In [39]:
def trimester_to_date(trimester):
    year, quarter = trimester.split('-')
    quarter=quarter[1]
    month = int(quarter) * 3
    return pd.Timestamp(year=int(year), month=month, day=1)

## Final Consumption Expenditure

In [40]:
consumption = pd.read_csv("data/Global/finalconsumptionexpenditure.csv")
consumption.head()

C:\Users\manue\AppData\Local\Temp\ipykernel_6764\1174670130.py:1: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  consumption = pd.read_csv("data/Global/finalconsumptionexpenditure.csv")

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Fréquence d'observation,ADJUSTMENT,Ajustement,REF_AREA,Zone de référence,...,CONF_STATUS,Statut de confidentialité,DECIMALS,Décimales,OBS_STATUS,Statut d'observation,UNIT_MULT,Multiplicateur d'unité,CURRENCY,Monnaie
0,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_DU...,Dépenses trimestrielles de consommation finale...,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,RON,Leu roumain
1,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_DU...,Dépenses trimestrielles de consommation finale...,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,RON,Leu roumain
2,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_DU...,Dépenses trimestrielles de consommation finale...,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,RON,Leu roumain
3,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_DU...,Dépenses trimestrielles de consommation finale...,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,RON,Leu roumain
4,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_DU...,Dépenses trimestrielles de consommation finale...,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,RON,Leu roumain

In [41]:
consumption.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Fréquence d'observation', 'ADJUSTMENT', 'Ajustement', 'REF_AREA',
       'Zone de référence', 'SECTOR', 'Secteur institutionnel',
       'COUNTERPART_SECTOR', 'Secteur institutionnel de contrepartie',
       'TRANSACTION', 'Transaction', 'INSTR_ASSET',
       'Instruments financiers et actifs non financiers', 'ACTIVITY',
       'Activité économique', 'EXPENDITURE', 'Dépense', 'UNIT_MEASURE',
       'Unité de mesure', 'PRICE_BASE', 'Type de prix', 'TRANSFORMATION',
       'Transformation', 'TABLE_IDENTIFIER', 'Identifiant de tableau',
       'TIME_PERIOD', 'Période temporelle', 'OBS_VALUE',
       'Valeur d'observation', 'REF_YEAR_PRICE', 'Prix ​​année de référence',
       'BASE_PER', 'Période de base', 'CONF_STATUS',
       'Statut de confidentialité', 'DECIMALS', 'Décimales', 'OBS_STATUS',
       'Statut d'observation', 'UNIT_MULT', 'Multiplicateur d'unité',
       'CURRENCY', 'Monnaie'],
      dtype='object')

In [42]:
for column in consumption.columns:
    if (len(consumption[column].unique()) <= 1) and (column not in ["Multiplicateur d'unité", "Secteur institutionnel"]):
        consumption.drop(columns=[column],inplace=True)

consumption.head()

,FREQ,Fréquence d'observation,ADJUSTMENT,Ajustement,REF_AREA,Zone de référence,Secteur institutionnel,TRANSACTION,Transaction,PRICE_BASE,Type de prix,TIME_PERIOD,OBS_VALUE,REF_YEAR_PRICE,OBS_STATUS,Statut d'observation,Multiplicateur d'unité,CURRENCY,Monnaie
0,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,Ménages,P31DC,Dépense de consommation finale des résidents e...,L,Volumes chaînés,1995,215868.6,2020,A,Normal value,Millions,RON,Leu roumain
1,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,Ménages,P31DC,Dépense de consommation finale des résidents e...,L,Volumes chaînés,1996,231895.5,2020,A,Normal value,Millions,RON,Leu roumain
2,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,Ménages,P31DC,Dépense de consommation finale des résidents e...,L,Volumes chaînés,1997,221007.7,2020,A,Normal value,Millions,RON,Leu roumain
3,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,Ménages,P31DC,Dépense de consommation finale des résidents e...,L,Volumes chaînés,1998,233276.1,2020,A,Normal value,Millions,RON,Leu roumain
4,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,ROU,Roumanie,Ménages,P31DC,Dépense de consommation finale des résidents e...,L,Volumes chaînés,1999,222618.4,2020,A,Normal value,Millions,RON,Leu roumain

In [43]:
consumption = consumption[consumption["FREQ"] == "Q"]
consumption = consumption[consumption["Ajustement"] == "Corrigé des variations saisonnières et des effets de calendrier"]
consumption = consumption[consumption["Type de prix"]=="Volumes chaînés"]
consumption = consumption[consumption["Transaction"]=="Dépense de consommation finale des résidents et non-résidents sur le territoire économique"]

In [44]:
# Checking if the values of a country have the same reference
for i in list(consumption["Zone de référence"].unique()):
    if len(consumption[consumption["Zone de référence"] == i]['REF_YEAR_PRICE'].unique()) > 1:
        print(i)

In [45]:
consumption.drop(columns=["Fréquence d'observation","FREQ","ADJUSTMENT","Ajustement","REF_AREA","TRANSACTION","Transaction","Type de prix","PRICE_BASE","OBS_STATUS","REF_YEAR_PRICE","Statut d'observation","Monnaie"], inplace= True)

In [46]:
for column in consumption.columns:
    print(column)

Zone de référence
Secteur institutionnel
TIME_PERIOD
OBS_VALUE
Multiplicateur d'unité
CURRENCY

In [47]:
#Just checking that I still have all of the years

lista = sorted(list(consumption["TIME_PERIOD"].unique()))
lista_anos = []
for i in lista:
    try: 
        int(i)
        lista_anos.append(i)

    except:
        pass

for i in range(len(lista_anos)-1):
    if int(lista_anos[i+1]) != int(lista_anos[i]) + 1:
        print(lista_anos[i],lista_anos[i+1])

In [48]:
for country in list(consumption['Zone de référence'].unique()):
    consumption.loc[consumption['Zone de référence']==country,"OBS_VALUE"] = consumption[consumption['Zone de référence']==country]["OBS_VALUE"].pct_change()

In [49]:
consumption.TIME_PERIOD = consumption.TIME_PERIOD.apply(lambda x: trimester_to_date(x))

In [50]:
consumption.head()

,Zone de référence,Secteur institutionnel,TIME_PERIOD,OBS_VALUE,Multiplicateur d'unité,CURRENCY
3310,Finlande,Ménages,1990-03-01,NaN,Millions,EUR
3311,Finlande,Ménages,1990-06-01,0.010185,Millions,EUR
3312,Finlande,Ménages,1990-09-01,-0.013368,Millions,EUR
3313,Finlande,Ménages,1990-12-01,-0.009932,Millions,EUR
3314,Finlande,Ménages,1991-03-01,-0.016121,Millions,EUR

In [51]:
consumption.to_csv("global/dataglobal/clean_finalconsumptionexpenditure.csv")

## GFCF

In [52]:
gfcf = pd.read_csv("data/Global/GFCF.csv")
gfcf.head()

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,FREQ,Fréquence d'observation,ADJUSTMENT,Ajustement,REF_AREA,Zone de référence,...,CONF_STATUS,Statut de confidentialité,DECIMALS,Décimales,OBS_STATUS,Statut d'observation,UNIT_MULT,Multiplicateur d'unité,CURRENCY,Monnaie
0,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GF...,FBCF trimestrielle par actif,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,NOK,Couronne norvégienne
1,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GF...,FBCF trimestrielle par actif,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,NOK,Couronne norvégienne
2,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GF...,FBCF trimestrielle par actif,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,NOK,Couronne norvégienne
3,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GF...,FBCF trimestrielle par actif,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,NOK,Couronne norvégienne
4,DATAFLOW,OECD.SDD.NAD:DSD_NAMAIN1@DF_QNA_EXPENDITURE_GF...,FBCF trimestrielle par actif,I,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,...,F,Libre (libre pour publication),1,One,A,Normal value,6,Millions,NOK,Couronne norvégienne

In [53]:
gfcf.columns

Index(['STRUCTURE', 'STRUCTURE_ID', 'STRUCTURE_NAME', 'ACTION', 'FREQ',
       'Fréquence d'observation', 'ADJUSTMENT', 'Ajustement', 'REF_AREA',
       'Zone de référence', 'SECTOR', 'Secteur institutionnel',
       'COUNTERPART_SECTOR', 'Secteur institutionnel de contrepartie',
       'TRANSACTION', 'Transaction', 'INSTR_ASSET',
       'Instruments financiers et actifs non financiers', 'ACTIVITY',
       'Activité économique', 'EXPENDITURE', 'Dépense', 'UNIT_MEASURE',
       'Unité de mesure', 'PRICE_BASE', 'Type de prix', 'TRANSFORMATION',
       'Transformation', 'TABLE_IDENTIFIER', 'Identifiant de tableau',
       'TIME_PERIOD', 'Période temporelle', 'OBS_VALUE',
       'Valeur d'observation', 'REF_YEAR_PRICE', 'Prix ​​année de référence',
       'BASE_PER', 'Période de base', 'CONF_STATUS',
       'Statut de confidentialité', 'DECIMALS', 'Décimales', 'OBS_STATUS',
       'Statut d'observation', 'UNIT_MULT', 'Multiplicateur d'unité',
       'CURRENCY', 'Monnaie'],
      dtype='object')

In [54]:
for column in gfcf.columns:
    if (len(gfcf[column].unique()) <= 1) and (column not in ["Multiplicateur d'unité", "Secteur institutionnel"]):
        gfcf.drop(columns=[column],inplace=True)

gfcf.head()

,FREQ,Fréquence d'observation,ADJUSTMENT,Ajustement,REF_AREA,Zone de référence,Secteur institutionnel,INSTR_ASSET,Instruments financiers et actifs non financiers,PRICE_BASE,Type de prix,TIME_PERIOD,OBS_VALUE,REF_YEAR_PRICE,OBS_STATUS,Statut d'observation,Multiplicateur d'unité,CURRENCY,Monnaie
0,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,Economie totale,N11MG,"Machines et équipements et systèmes d'armes, brut",V,Prix courants,1978,27856.0,NaN,A,Normal value,Millions,NOK,Couronne norvégienne
1,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,Economie totale,N11MG,"Machines et équipements et systèmes d'armes, brut",V,Prix courants,1979,28096.0,NaN,A,Normal value,Millions,NOK,Couronne norvégienne
2,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,Economie totale,N11MG,"Machines et équipements et systèmes d'armes, brut",V,Prix courants,1980,29453.0,NaN,A,Normal value,Millions,NOK,Couronne norvégienne
3,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,Economie totale,N11MG,"Machines et équipements et systèmes d'armes, brut",V,Prix courants,1981,38119.0,NaN,A,Normal value,Millions,NOK,Couronne norvégienne
4,A,Annuelle,N,Ni corrigé des variations saisonnières ni corr...,NOR,Norvège,Economie totale,N11MG,"Machines et équipements et systèmes d'armes, brut",V,Prix courants,1982,42064.0,NaN,A,Normal value,Millions,NOK,Couronne norvégienne

In [55]:
gfcf = gfcf[gfcf["FREQ"] == "Q"]
gfcf = gfcf[gfcf["Ajustement"] == "Corrigé des variations saisonnières et des effets de calendrier"]
gfcf = gfcf[gfcf["Type de prix"]=="Volumes chaînés"]
gfcf = gfcf[gfcf["Instruments financiers et actifs non financiers"].isin(['Actifs fixes, brut','Logements, brut','Recherche et développement, brut','Matériel informatique, brut'])]

In [56]:
# Checking if the values of a country have the same reference
for i in list(gfcf["Zone de référence"].unique()):
    if len(gfcf[gfcf["Zone de référence"] == i]['REF_YEAR_PRICE'].unique()) > 1:
        print(i)

In [57]:
gfcf.drop(columns=["Fréquence d'observation","FREQ","ADJUSTMENT","Ajustement","REF_AREA","INSTR_ASSET","Type de prix","PRICE_BASE","OBS_STATUS","REF_YEAR_PRICE","Statut d'observation","Monnaie"], inplace= True)

In [58]:
for column in gfcf.columns:
    print(column)

Zone de référence
Secteur institutionnel
Instruments financiers et actifs non financiers
TIME_PERIOD
OBS_VALUE
Multiplicateur d'unité
CURRENCY

In [59]:
#Just checking that I still have all of the years

lista = sorted(list(gfcf["TIME_PERIOD"].unique()))
lista_anos = []
for i in lista:
    try: 
        int(i)
        lista_anos.append(i)

    except:
        pass

for i in range(len(lista_anos)-1):
    if int(lista_anos[i+1]) != int(lista_anos[i]) + 1:
        print(lista_anos[i],lista_anos[i+1])

In [60]:
for country in list(gfcf['Zone de référence'].unique()):
    gfcf.loc[gfcf['Zone de référence']==country,"OBS_VALUE"] = gfcf[gfcf['Zone de référence']==country]["OBS_VALUE"].pct_change()

In [61]:
gfcf.head()

,Zone de référence,Secteur institutionnel,Instruments financiers et actifs non financiers,TIME_PERIOD,OBS_VALUE,Multiplicateur d'unité,CURRENCY
3589,Luxembourg,Economie totale,"Logements, brut",1995-Q1,NaN,Millions,EUR
3590,Luxembourg,Economie totale,"Logements, brut",1995-Q2,0.053206,Millions,EUR
3591,Luxembourg,Economie totale,"Logements, brut",1995-Q3,0.122193,Millions,EUR
3592,Luxembourg,Economie totale,"Logements, brut",1995-Q4,-0.207003,Millions,EUR
3593,Luxembourg,Economie totale,"Logements, brut",1996-Q1,-0.057254,Millions,EUR

In [62]:
gfcf.to_csv("global/dataglobal/clean_GFCF.csv")

# Production datasets

### Construction

In [63]:
construction = pd.read_excel("data/france/construction_production.xlsx",'Sheet 1',engine="openpyxl")
construction.set_index('TIME',inplace=True)
construction = construction.T
construction.reset_index(inplace=True)
construction.rename(columns={'index':'Date'},inplace=True)
#construction['Date'] = pd.to_datetime(construction.Date)
#construction.drop(index=55,inplace=True)
#construction['Construction_variation'] = construction.apply(lambda row: float(row.France) + 1, axis=1)
#construction.drop(columns=['France'],inplace=True)
#construction['Date'] = construction['Date'].dt.to_period('Y')
#construction_validation = construction.copy()
#construction = construction.groupby(construction['Date'], as_index=False).Construction_variation.prod()
construction.head()

TIME     Date France
0     2019-06    0.6
1     2019-07   -2.8
2     2019-08    1.7
3     2019-09    0.5
4     2019-10   -2.1

### Industry

In [64]:
industry = pd.read_excel("data/france/industry_production.xlsx",'Sheet 1',engine="openpyxl")
industry.set_index('TIME',inplace=True)
industry = industry.T
industry.reset_index(inplace=True)
industry.rename(columns={'index':'Date'},inplace=True)
industry.head()

TIME     Date France
0     2019-06   -2.6
1     2019-07    0.4
2     2019-08   -0.8
3     2019-09    0.9
4     2019-10   -0.2

### Services

In [65]:
services = pd.read_excel("data/france/services_production.xlsx",'Sheet 1',engine="openpyxl")
services.set_index('TIME',inplace=True)
services = services.T
services.reset_index(inplace=True)
services.rename(columns={'index':'Date'},inplace=True)
services.head()

TIME     Date  France
0     2019-06   118.7
1     2019-07   100.4
2     2019-08   126.7
3     2019-09   116.9
4     2019-10   119.2